<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">
      <div class="sidebar-logo">
        <a href="https://ng.ant.design/" target="_blank">
          <img style="width:200px;" src="assets/logo.png" alt="logo">
        </a>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu  nzTitle="Rezervasyonlarım" nzIcon="dashboard">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/welcome">Yeni Rezervasyon</a>
            </li>
            
            <li nz-menu-item nzMatchRouter>
              <a>Aktif Rezervasyon</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a>Biten Rezervasyon</a>
            </li>
          </ul>
        </li>
      
        <li nz-submenu  nzTitle="Yolcular" nzIcon="form">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a>Yolcu Ekle</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a >Kayıtlı Yolcular</a>
            </li>
          </ul>
        </li>
        <li nz-submenu  nzTitle="Destek Talebi" nzIcon="form">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a  >Destek Talebi Oluştur</a>
            </li>
            
          </ul>
        </li>
        <li nz-submenu  nzTitle="Raporlar" nzIcon="form">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a>Rapor Listesi</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Profil Bilgileri" nzIcon="form">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a>Profilimi Görüntüle</a>
            </li>
          </ul>
        </li>
        <li nz-submenu  nzTitle="Çıkış" nzIcon="form">
          <ul>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
       
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <i class="trigger"
                 nz-icon
                 [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></i>
            
               
          </span> 
         <span style="color:rgb(39, 79, 139); font-size: 20px;  margin: 430px; font-weight:bold;">ACENTE PANELİ</span>
        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
  



