
  <form nz-form  [formGroup]="acenteAddForm" >
    <div  nz-row  >
    <div  class="ant-col-lg-12">
    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzRequired>Acente Adı</nz-form-label>
      <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
        <input nz-input formControlName="acenteAdi" placeholder="AcenteAdı" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzRequired>Firma Unvanı</nz-form-label>
      <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
        <input nz-input formControlName="firmaUnvan" placeholder="Firma Unvanı" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzRequired>Telefon</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input formControlName="telefon" placeholder="Telefon" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzRequired>E-mail</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input formControlName="eMail" placeholder="email" type="email" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzRequired>Sifre</nz-form-label>
      <nz-form-control [nzSpan]="12" nzDisableAutoTips nzErrorTip="Please input your password!">
        <input nz-input type="password" formControlName="sifre" placeholder="Sifre" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzRequired>Yetkili</nz-form-label>
      <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
        <input nz-input formControlName="yetkili" placeholder="Yetkili" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzRequired>Yetkili Telefon</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input formControlName="yetkiliTel" placeholder="Yetkili Telefon" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzRequired>Yetkili E-mail</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input formControlName="yetkiliEmail" placeholder="Yetkili Email" type="email" />
      </nz-form-control>
    </nz-form-item>
  </div>
  <div class="ant-col-lg-12">
    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzRequired>Ulke</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input formControlName="ulkeId" placeholder="Ulke" type="number" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzRequired>Sehir</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input formControlName="sehirId" placeholder="Sehir" type="number" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzRequired>Iban</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input formControlName="ıban" placeholder="Iban"  />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzRequired>Adres</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input formControlName="adres" placeholder="Adres"  />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzRequired>Fatura Adres</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input formControlName="faturaAdres" placeholder="Fatura Adres"  />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzRequired>Notlar</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input formControlName="notlar" placeholder="Notlar"  />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzRequired>Kredi</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input formControlName="kredi" placeholder="Kredi" type="number" />
      </nz-form-control>
    </nz-form-item>
    <br/>
    <nz-form-item>
      <nz-form-control [nzOffset]="10" [nzSpan]="12">
        <button nz-button nzType="primary" (click)="add()" >Acente Ekle</button>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>
  </form>

