<!-- <div >
    <nav >
        <div class="d-flex justify-content-around align-items-center flex-wrap my-2">
            <div class="p-2">
              <img src="https://i.imgur.com/2diJpU5.png" width="50px" />
            </div>
          </div>
    <nav class="navbar navbar-expand-md">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/shop" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Shop All</a>
          </li>
          <li class="nav-item dropdown">
            <a href="#" id="dropdown" data-toggle="dropdown">
              Accessories
            </a>
            <div class="dropdown-menu shadow-sm">
              <a class="dropdown-item" routerLink="/shop/category/Necklaces">Necklaces</a>
              <a class="dropdown-item" routerLink="/shop/category/Bracelets-Anklets">Bracelets and Anklets</a>
              <a class="dropdown-item" routerLink="/shop/category/Earrings">Earrings</a>
              <a class="dropdown-item" routerLink="/shop/category/Rings">Rings</a>
            </div>
          </li>
          <li class="nav-item">
            <a routerLink="/about-us" routerLinkActive="active">About Us</a>
          </li>
        </ul>
        <div>
          <a>
            <button class="btn-2 mr-2" routerLink="/cart">
              <svg xmlns="http://www.w3.org/1200/svg" width="16" height="16" fill="currentColor" class="bi bi-bag"
                viewBox="0 0 16 16">
                <path
                  d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
              </svg>
            </button>
          </a>
        </div>
      </nav>
    </nav>
  </div> -->
 <!-- <nz-content>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</nz-content> -->

  <nz-layout class="layout" >
    <nz-header >
      <!-- <div class="logo"></div> -->
      <ul nz-menu nzTheme="white" nzMode="Vertical">
        <li nz-menu-item><a href="">Hakkımızda</a></li>
        <li nz-menu-item><a href="">Hizmet Bölgeleri</a></li>
        <li nz-menu-item><a href="">Sık Sorulan Sorular</a></li>
        <li nz-menu-item><a href="">Kampanyalar</a></li>
        <li nz-menu-item><a href="">Blog</a></li>
        <li nz-menu-item><a href="">İletişim</a></li>
        <li nz-menu-item style="border: 1px solid blue; font-weight: bold"><a href="">Rezervasyonum</a></li>
        
      </ul>
    </nz-header>
    <nz-content>
        
      <div class="inner-content">
        <p style="text-align: center; font-weight: bold">---İçerik Alanı---</p>
       <p>ashs</p>
       <p>ashs</p>
       <p>ashs</p>
       <p>ashs</p>
       <p>ashs</p>
       <p>ashs</p>
       <p>ashs</p>
       <p>ashs</p>
       <p>ashs</p>
       <p>ashs</p>
       <p>ashs</p>
       <p>ashs</p>
       <p>ashs</p>
       <p>ashs</p>
       <p>xx</p>
       <p>ashs</p>
       <p>ashs</p>
       <p>xx</p>
      </div>
    </nz-content>
    <nz-footer style="font-weight: bold" >---Footer Alanı---</nz-footer>
  </nz-layout>